<html>
  <head>
    {% block share_head %}{% endblock %}
    <script>
      $(document).ready(function(){
        $('#checkAll').click(function () {
          $('input:checkbox').prop('checked', this.checked);
        });
      });
    </script>
  </head>
  <body>
    {% block share_menu %}{% endblock %}
    <form method="post" action="">{% csrf_token %}
      <div class="container" style="padding-top:70px;">
        <div class="row">
          <div class="col-lg-4">
            <h2>{{group_name}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-lg-offset-8">
            <div style="float:right;">
              <button class="btn btn-success" type="submit" value="AddPlayList" name="form_action">Add to playlist</button>
              <button class="btn btn-danger" type="submit" value="RemoveTag" name="form_action">Remove Tag</button>
            </div>
          </div>
        </div>
        <hr>

        {% if group_upload_videos %}
        <div class="row">
          <div class="col-md-4">
            <p><input type="checkbox" id="checkAll" > Select All Videos in This Group</p>
          </div>
        </div>
        {% endif %}

        {% for videos in group_upload_videos %}
          <div class="row" style="padding-top:5px;">
            {% for video in videos %}
            <div class="col-md-3">
              <a href="#"><img class="img-responsive" src="{{video.thumbnail}}" alt=""></a>
              <h5><input type="checkbox" value="{{video.video_id}}" name="select_videos">
                &nbsp;&nbsp;&nbsp;<a href="/watch_video/{{video.video_id}}" target="_blank">{{video.title}}</a>
              </h5>
              <p>Uploaded on {{video.upload_date}}</p>
            </div>
            {% endfor %}
          </div>
        {% endfor %}

        <hr>
        {% for videos in group_watched_videos %}
          <div class="row" style="padding-top:5px;">
            {% for video in videos %}
            <div class="col-md-1">
              <a href="/watch_video/{{video.video_id}}"><img class="img-responsive" src="{{video.thumbnail}}" alt=""></a>
            </div>
            {% endfor %}
          </div>
        {% endfor %}

        <!-- /.row -->
      </div>
    </form>
  </body>
<html>
