<html>
  <head>
    {% block share_head %}{% endblock %}
    <script type="text/javascript" src="/static/js/image-picker.js"></script>
    <script type="text/javascript" src="/static/js/image-picker.min.js"></script>
    <link type="text/css" href="/static/css/image-picker.css" rel="stylesheet">
    <script>
      $(document).ready(function() {
        $("select").imagepicker({show_label:true});
      });
    </script>
    <style type="text/css"> .topbuffer { margin-top:20px; } </style>
  </head>
  <body>
    {% block share_menu %}{% endblock %}
    <form method="post" action="">{% csrf_token %}
  	  <div class="container-fluid" style="padding-top:70px;">
        <div class="raw">
          <div class="col-md-5">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit" value="AddGroups" name="form_action">Add into Group</button>
              </span>
              <input type="text" class="form-control" placeholder="Group name..." name="group_name">
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="container-fluid">
        <div class="raw">
          <div class="col-md-12">
          {% for group_name, channels in channel_groups.items %}
            <h3>
              {% if group_name == 'No Group' %}
                {{ group_name}}
              {% else %}
                <a href="/my_group/{{group_name}}">{{group_name}}</a>
              {% endif %}
            </h3>
            <select multiple="multiple" class="image-picker show-label show-html" name='select_subscriptions'>             
              {% for channel in channels|dictsort:"title" %}
                <option data-img-label="{{channel.title}}"
                  data-img-src="{{channel.thumbnail}}" value="{{channel.channel_id}}"></option>
              {% endfor %}
            </select>
            <hr>
          {% endfor %}
          </div>
        </div>
  	  </div>
    </form>
  </body>
<html>