<html>
  <head>
    {% block share_head %}{% endblock %}
    <!-- Tag It -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/tag-it.js"></script>
    <link type="text/css" href="/static/css/tagit.css" rel="stylesheet">
    <link type="text/css" href="/static/css/tagit.ui-zendesk.css" rel="stylesheet">

    <!-- Image picker -->
    <script type="text/javascript" src="/static/js/image-picker.js"></script>
    <script type="text/javascript" src="/static/js/image-picker.min.js"></script>
    <link type="text/css" href="/static/css/image-picker.css" rel="stylesheet">
    <script>
      $(document).ready(function() {
        $("select").imagepicker({show_label:true});
        $('#tagitinput').tagit({
           singleField:true
        });
        {% if new_channel_count or removed_channel_count  %}
          $('#update_modal').modal('show');
        {% endif %}
      });
      {% if not channel_groups %}
        $(window).load(function(){
          $('#myModal').modal('show');
        });
      {% endif %}
    </script>
    <style type="text/css"> .topbuffer { margin-top:20px; } </style>
  </head>

  <body>
    {% block share_menu %}{% endblock %}
    <form method="post" action="">{% csrf_token %}
  	  <div class="container" style="padding-top:70px;">
        <div class="raw">
          <button class="btn btn-default" data-toggle="modal" data-target="#add_tags" type="button">Add Tags</button>
          <button class="btn btn-info" type="submit" value="Update" name="form_action" style="float:right;">Update Subscribes</button>
        </div>
      </div>
      <!-- modal start -->
      <div class="modal fade" id="add_tags" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Enter Tags<small>     (enter at least one tag)</small></h4>
            </div>
            <div class="modal-body">
              <ul class="list-inline" id="tagitinput"></ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="submit" value="AddGroups" name="form_action">Add Tags</button>
            </div>
          </div>
        </div>
      </div>
      <!-- modal end -->

      {% if channel_groups %}
        <div class="container">
          {% for group_name, channels in channel_groups.items %}
            <div class="row">
              <div class="col-lg-4">
                <h2><a href="/my_group/{{group_name}}">{{group_name}}</a></h2>
              </div>
            </div>
            <div class="row">
              <select multiple="multiple" class="image-picker show-label show-html" name='select_subscriptions'>
                {% for channel in channels|dictsort:"title" %}
                  {% if channel.thumbnail == "https://s.ytimg.com/yts/img/avatar_720-vflYJnzBZ.png" %}
                    <option data-img-label="{{channel.title|truncatechars:"10"}}"
                      data-img-src="/static/images/no_thumbnail.png" value="{{channel.channel_id}}"></option>
                  {% else %}
                    <option data-img-label="{{channel.title|truncatechars:"10"}}"
                      data-img-src="{{channel.thumbnail}}" value="{{channel.channel_id}}"></option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% if no_groups %}
        <div class="container">
          <div class="row">
            <div class="col-lg-4"><h2>No Tag</h2></div>
          </div>
          <div class="row">
            <select multiple="multiple" class="image-picker show-label show-html" name='select_subscriptions'>
              {% for channel in no_groups|dictsort:"title" %}
                {% if channel.thumbnail == "https://s.ytimg.com/yts/img/avatar_720-vflYJnzBZ.png" %}
                  <option data-img-label="{{channel.title|truncatechars:"10"}}"
                    data-img-src="/static/images/no_thumbnail.png" value="{{channel.channel_id}}"></option>
                {% else %}
                  <option data-img-label="{{channel.title|truncatechars:"10"}}"
                    data-img-src="{{channel.thumbnail}}" value="{{channel.channel_id}}"></option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      {% endif %}
    </form>

    <div class="modal fade" tabindex="-1" role="dialog" id="guide_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header"><h4 class="modal-title">Guide</h4></div>
          <div class="modal-body"><p>Select some channels and add tag</p></div>
          <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" tabindex="-1" role="dialog" id="update_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header"><h4 class="modal-title">Update Result</h4></div>
          <div class="modal-body"><p>Add {{new_channel_count}} channels, remove {{removed_channel_count}} channels.</p></div>
          <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </body>
<html>
